.cardSalon{
    color: #4b5859;
}
.cardSection{
    margin-top: 30px;
}
.cardSection1{
    height: 130px;
    color: #4b5859;
}
.cardOne{
    text-align: center;
}
.card-title{
    color: #17A2B8;
    font-weight: 700;
}
.plus {
	height: 100px;
}
.delete{
	width: 17%
}