@import url('https://fonts.googleapis.com/css?family=Inconsolata');
footer {
	background-color: black;
	margin-top: 30px;

}
ul {
	list-style: none;
	padding-top: 10%;
}
li a {
	color: #fff;
	font-family: "Inconsolata", nonostace;
}
li a:hover {
	text-decoration: none;
	color: #e0dddb;

}
.top_icon {
	padding-top: 22%;
    padding-left: 50%;
}

.icon_width {
	width: 40px;
    padding-left: 6%;
    padding-top: 29%;
}
/*footer amnea poqr vaxt textAlign center*/