@import url('https://fonts.googleapis.com/css?family=Noto+Sans');
nav.navbar ul{
	padding: 0;
}
nav.navbar li{
	list-style: none;
}
.drop{
	color: #000;
	font-size: 	1.3em;
    background: -webkit-linear-gradient(#a87c7c, #a87c7c);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.mod_btn{
    margin-top: 7%;
	    background: -webkit-linear-gradient(#a87c7c, #a87c7c);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.title {
	margin-left: 5%;	
	font-size: 1.5em;
     background: -webkit-linear-gradient(#000, #a87c7c);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.modal_button {
		background: #FD703E;
	background: -webkit-linear-gradient(#9b7171, #fff);
    background: linear-gradient(to bottom, #9b7171, #fff);
	border-style: none;
	color: #fff;
	padding: 10px 20px;
	border-radius: 15px;

}
span {
	font-size: 30px;
	color: #9b7171;
}
 li .dropdown-item:hover {
 	background: #FD703E;
	background: -webkit-linear-gradient(#9b7171, #fff);
    background: linear-gradient(to bottom, #9b7171, #fff); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    color: #fff;

}
.modal_op {
    overflow-x: scroll;
    overflow-y: scroll;
}